/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/08/2018, 12:13:37
    Author     : Herisson Silva
*/

header{
    height: auto;
    background: url('/images/wallpaper.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat-x;
}

header:after{
    content: " ";
    width: 100%;
    display: block;
    border-style: solid;
    border-color: #fff0 #fff;
    padding-top: 5px;
    position: relative;
}
header h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}
header .img-thumbnail {
    height: 120px;
}
header p{
    font-size: 8pt;
    font-family: 'Roboto', sans-serif;
}
header p a {
    font-size: 22pt;
    margin: 0 5px;
    color: white;
}
header p a:hover{
    color:#007bff;
}
header .logo{
    font-weight: bold;
    font-size: 22pt;
}
.czTitle{
    margin: 24px auto;
    display: block;
    background: #f0f0f0;
    padding: 10px 25px;
    border:1px solid silver;
    color: #4b4b4b;
}
.modal-body h5{
    width: 100%;
}
.container .card{
    margin-bottom: 30px;
    border:none;
}
.container .card-body{
    margin-left: 20px;
    margin-top: -20px;
    background: white;
    border: 1px solid silver;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: silver;
    border-right: none;
    -webkit-box-shadow: -5px 7px 13px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 7px 13px -8px rgba(0,0,0,0.75);
box-shadow: -5px 7px 13px -8px rgba(0,0,0,0.75);
}
.contatos p{
    width: 100%;
    margin: auto 0;
}
.contatos p span{
    font-weight: 600;
}
.contatos > a{
    margin: 0 auto;
}